<a href="https://colab.research.google.com/github/deepanshuMeteor/DFEDataCohort16/blob/main/Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
myn = [45, 66, 12, 3, 99, 3.142, 42]
print("min:", min(myn), "max:", max(myn))
print("sum:", sum(myn))
myd = {'alfred':300, 'cjim':8000, 'dave':42}
print("min:", min(zip(myd.values(),myd.keys())), "max:", max(zip(myd.values(),myd.keys())))

min: 3 max: 99
sum: 270.142
min: (42, 'dave') max: (8000, 'cjim')

In [12]:
# Python code to find key with Maximum value in Dictionary
  
# Dictionary Initialization
Tv = {'BreakingBad':100, 'GameOfThrones':1292, 'TMKUC' : 88}
 
Keymax = max(zip(Tv.values(), Tv.keys()))[1]
print(Keymax)

GameOfThrones

In [18]:
mytuple = 'a', 'b', 'c'
another = mytuple * 4
print(another)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [19]:
thing = ('Hello')
print(type(thing))
thing = ('Hello',)
print(type(thing))

<class 'str'>
<class 'tuple'>

In [24]:
cheese = ['Cheddar', 'Stilton', 'Cornish Yarg']
print(cheese[1])
cheese[-1] = 'Red Leicester'
print(cheese)
cheese.append('Cornish Yarg')
print(cheese)
cheese.append('Corn')
print(cheese)

Stilton
['Cheddar', 'Stilton', 'Red Leicester']
['Cheddar', 'Stilton', 'Red Leicester', 'Cornish Yarg']
['Cheddar', 'Stilton', 'Red Leicester', 'Cornish Yarg', 'Corn']

In [27]:
mytuple=('eggs', 'bacon', 'spam', 'tea', 'beans')
print(mytuple[2:4])
print(mytuple[-4])

('spam', 'tea')
bacon

In [28]:
mylist = list(mytuple)#convert Tuple to List
print(mylist[1:])
print(mylist[:2])

['bacon', 'spam', 'tea', 'beans']
['eggs', 'bacon']

In [31]:
cheese = ['Cheddar', 'Camembert', 'Brie', 'Stilton']#list
del cheese[1:3]
print(cheese)

['Cheddar', 'Stilton']

In [35]:
mytuple = 'eggs', 'bacon', 'spam', 'tea'
x, y, z = mytuple

ValueError: ignored

In [32]:
t1 = 'cat', 'dog', 'python', 'mouse', 'camel'
t2 = 'kelp', 'crab', 'lobster', 'fish'
for a, *b, c in t1, t2:
    print(a, b, c)

cat ['dog', 'python', 'mouse'] camel
kelp ['crab', 'lobster'] fish

In [48]:
cheese = ['Cheddar', 'Stilton', 'Cornish Yarg']
#cheese.insert(2, 'Cornish Brie')
print(cheese[2:3])
cheese[2:2] = ["Cornish Brie"]
print(cheese)

['Cornish Yarg']
['Cheddar', 'Stilton', 'Cornish Brie', 'Cornish Yarg']

In [49]:
cheese.append('Oke')
print(cheese)

['Cheddar', 'Stilton', 'Cornish Brie', 'Cornish Yarg', 'Oke']

In [50]:
cheese = ['Cheddar', 'Stilton', 'Cornish Yarg']
saved = cheese.pop(1)
print("Saved1:", saved,", Result:", cheese)
saved = cheese.pop()
print("Saved2:", saved,", Result:", cheese)

Saved1: Stilton , Result: ['Cheddar', 'Cornish Yarg']
Saved2: Cornish Yarg , Result: ['Cheddar']

In [52]:
cheese = ['Cheddar', 'Stilton', 'Cornish Yarg','Oke', 'Devon Blue']
cheese.remove("Oke")
print(cheese)

['Cheddar', 'Stilton', 'Cornish Yarg', 'Devon Blue']

In [53]:
cheese.remove("Cheddar")

ValueError: ignored

In [58]:
cheese.remove(cheese[0])

In [59]:
print(cheese)

['Cornish Yarg', 'Devon Blue']

In [60]:
cheese = ['Cornish Yarg', 'Oke', 'Edam', 'Stilton']
cheese.sort(key=len)
print(cheese)

['Oke', 'Edam', 'Stilton', 'Cornish Yarg']

In [62]:
nums = ['1001', '34', '3', '77', '42', '9', '87']
newstr = sorted(nums)
print(newstr)
newnum = sorted(nums, key=int)
print(newnum)

['1001', '3', '34', '42', '77', '87', '9']
['3', '9', '34', '42', '77', '87', '1001']

In [70]:
cheese = ['Cheddar', 'Cheshire', 'Stilton', 'Cheshire']
print(cheese.count('Cheshire'))
print(cheese.index('Cheshire'))
cheese.reverse()
print(cheese)

2
1
['Cheshire', 'Stilton', 'Cheshire', 'Cheddar']

In [64]:
cheese = ('Cheddar', 'Cheshire', 'Stilton', 'Cheshire')
cheese.reverse()
print(cheese)

AttributeError: ignored

In [72]:
s1 = {5, 6, 7, 8, 5}#set methods
print(s1)
print(type(s1))

{8, 5, 6, 7}
<class 'set'>

In [79]:
s4 = {23, 42, 66, 123}
s5 = {56, 27, 42}
print("{:20} {:20}".format(s4, s5))
s4.remove(123)
s5.add(123)
print("{:20} {:20}".format(s4, s5))

TypeError: ignored

In [83]:
cheese = ['Cheddar', 'Stilton', 'Cornish Yarg','Oke', 'Stilton', 'Cheshire']
cheese = set(cheese)
print(cheese)
print(type(cheese))
cheese = list(set(cheese))
print(cheese)
print(type(cheese))

{'Cheddar', 'Oke', 'Cornish Yarg', 'Stilton', 'Cheshire'}
<class 'set'>
['Cheddar', 'Oke', 'Cornish Yarg', 'Stilton', 'Cheshire']
<class 'list'>