<a href="https://colab.research.google.com/github/deepanshuMeteor/DFEDataCohort16/blob/main/Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
myn = [45, 66, 12, 3, 99, 3.142, 42]
print("min:", min(myn), "max:", max(myn))
print("sum:", sum(myn))
myd = {'alfred':300, 'cjim':8000, 'dave':42}
print("min:", min(zip(myd.values(),myd.keys())), "max:", max(zip(myd.values(),myd.keys())))

min: 3 max: 99
sum: 270.142
min: (42, 'dave') max: (8000, 'cjim')

In [12]:
# Python code to find key with Maximum value in Dictionary
  
# Dictionary Initialization
Tv = {'BreakingBad':100, 'GameOfThrones':1292, 'TMKUC' : 88}
 
Keymax = max(zip(Tv.values(), Tv.keys()))[1]
print(Keymax)

GameOfThrones

In [18]:
mytuple = 'a', 'b', 'c'
another = mytuple * 4
print(another)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [19]:
thing = ('Hello')
print(type(thing))
thing = ('Hello',)
print(type(thing))

<class 'str'>
<class 'tuple'>

In [24]:
cheese = ['Cheddar', 'Stilton', 'Cornish Yarg']
print(cheese[1])
cheese[-1] = 'Red Leicester'
print(cheese)
cheese.append('Cornish Yarg')
print(cheese)
cheese.append('Corn')
print(cheese)

Stilton
['Cheddar', 'Stilton', 'Red Leicester']
['Cheddar', 'Stilton', 'Red Leicester', 'Cornish Yarg']
['Cheddar', 'Stilton', 'Red Leicester', 'Cornish Yarg', 'Corn']