<a href="https://colab.research.google.com/github/deepanshuMeteor/DFEDataCohort16/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def change_list(inlist, val, times):
    inlist += str(val) * times

mylist=[]
change_list(mylist, 'h', 8)
print(mylist)

['h', 'h', 'h', 'h', 'h', 'h', 'h', 'h']

In [3]:
def print_vat(gross, vatpc=17.5, message='Summary:'):
  net = gross/(1 + (vatpc/100))
  vat = gross - net
  print(message, 'Net: {0:5.2f} Vat: {1:5.2f}'.format(net, vat))

print_vat(9.55, message='Final sum:')

Final sum: Net:  8.13 Vat:  1.42

In [6]:
def my_func(file, dir, user='root'):
    print('file: {:}, dir: {:}, to: {:} '.
          format(file, dir, user))
    
#my_func('one', 'two', 'three')
#my_func('one', 'two')
my_func(file='one', user='three', dir='two')

file: one, dir: two, to: three

In [7]:
def print_vat(*, gross=0, vatpc=17.5, message='Summary:'): 
  net = gross/(1 + (vatpc/100))
  vat = gross - net
  print(message, 'Net: {0:5.2f} Vat: {1:5.2f}'.format(net, vat))
print_vat(vatpc=15, gross=9.55)
print_vat()

Summary: Net:  8.30 Vat:  1.25
Summary: Net:  0.00 Vat:  0.00

In [8]:
print_vat(15, 9.55)

TypeError: ignored

In [9]:
def print_vat(**kwargs):
  print(kwargs)
print_vat(vatpc=15, gross=9.55, message='Summary')

{'vatpc': 15, 'gross': 9.55, 'message': 'Summary'}

In [16]:
def calc_vat(gross, vatpc=17.5):
  net = gross/(1 + (vatpc/100))
  print(net)
  vat = gross - net
  return [f'{net:05.2f}', f'{vat:05.2f}']

result = calc_vat(42.30)

print(calc_vat(9.55))

35.99999999999999
8.127659574468085
['08.13', '01.42']

In [22]:
def scope_test1():
   result = 4
   print('old',result)

scope_test1()
print(result)
def scope_test2(): 
  global result
  result = 42
scope_test2()
print(result)

old 4
42
42

In [23]:
def outer():
    num = 42
    def inner():
        print(num, "in inner")
    inner()
    print(num, "in outer")
outer()
inner()

42 in inner
42 in outer

NameError: ignored

In [24]:
result = 3
def my_func():
    result = 12
    def scope_test():
        nonlocal result
        if result < 45:
            result += 1
            scope_test()
    scope_test()
    print(result, "from my_func")
my_func()
print(result, "from main")

45 from my_func
3 from main

In [26]:
def my_func():
  """ my_func has no parameters
        and prints 'Hello'.
  """
  print("Hello")

In [30]:
compare=lambda a, b: -1 if a < b else (+1 if a > b else 0)
x = 42 
y=3
print("a>b", compare(x, y))

a>b 1