<a href="https://colab.research.google.com/github/deepanshuMeteor/DFEDataCohort16/blob/main/String_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working with spaces in string:

\n - > Enter on keyboard - new line     
\t - > table on keyboard - two spaces

In [11]:
belgium = 'Belgium,10445852,Brussels,737966,Europe,Euro,Catholic,Dutch,Frech,German'


items = belgium.split(',')
print(items)
strrr = items[1]
nuumbr = int(items[1])
print(type(nuumbr))
print(type(strrr))

['Belgium', '10445852', 'Brussels', '737966', 'Europe', 'Euro', 'Catholic', 'Dutch', 'Frech', 'German']
<class 'int'>
<class 'str'>

In [13]:
if 'belgium'.istitle():
  print('Title')
else:
  print('NO')

NO

In [19]:
text = 't\r\n'
if text.isspace():
    print('string is whitespace')

In [2]:
print('-'*len(belgium))

-------------------------------------------------------------------------

In [3]:
print(':'.join(items))

Belgium:10445852:Brussels:737966:Europe:Euro:Catholic:Dutchh:Frech:German

In [8]:
strr = "      my name is john.       "
output = strr.strip()
print(output)

my name is john.

In [21]:
# dictionary - planets
planets = {'Mercury': 57.91,
           'Venus': 108.2,
           'Earth': 149.597870,
           'Mars': 227.94
}
for i, key in enumerate(planets.keys(), 1):
    print("{:2d} {:<10s} {:06.2f} Gm".format(i, key, planets[key]))

 1 Mercury    057.91 Gm
 2 Venus      108.20 Gm
 3 Earth      149.60 Gm
 4 Mars       227.94 Gm

In [22]:
text = 'hello'
print(text.capitalize())
print(text.upper())
print('<'+text.center(12)+'>')
print('<'+text.ljust(12)+'>')
print('<'+text.rjust(12)+'>')
print('<'+text.zfill(12)+'>')

Hello
HELLO
<   hello    >
<hello       >
<       hello>
<0000000hello>

In [23]:
names = ['Tom', 'Harry', 'Jane', 'Mary']
print(f"The third member is {names[3]}")

The third member is Mary

In [26]:
names = ['Tom', 'Harry', 'Jane', 'Mary']
suffix = ['st', 'nd', 'rd', 'th']
n=1
s = f"{str(n+1) + suffix[n]} of {len(names)} is {names[n]}"
print(s)

2nd of 4 is Harry

In [27]:
#       01234567890123456789012345678901234
text = "Remarkable bird, the Norwegian Blue"
print(text[11:14])
print(text[-7:-1])

bir
an Blu