<a href="https://colab.research.google.com/github/deepanshuMeteor/DFEDataCohort16/blob/main/String_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working with spaces in string:

\n - > Enter on keyboard - new line     
\t - > table on keyboard - two spaces

In [11]:
belgium = 'Belgium,10445852,Brussels,737966,Europe,Euro,Catholic,Dutch,Frech,German'


items = belgium.split(',')
print(items)
strrr = items[1]
nuumbr = int(items[1])
print(type(nuumbr))
print(type(strrr))

['Belgium', '10445852', 'Brussels', '737966', 'Europe', 'Euro', 'Catholic', 'Dutch', 'Frech', 'German']
<class 'int'>
<class 'str'>

In [13]:
if 'belgium'.istitle():
  print('Title')
else:
  print('NO')

NO

In [19]:
text = 't\r\n'
if text.isspace():
    print('string is whitespace')

In [2]:
print('-'*len(belgium))

-------------------------------------------------------------------------

In [3]:
print(':'.join(items))

Belgium:10445852:Brussels:737966:Europe:Euro:Catholic:Dutchh:Frech:German

In [8]:
strr = "      my name is john.       "
output = strr.strip()
print(output)

my name is john.

In [21]:
# dictionary - planets
planets = {'Mercury': 57.91,
           'Venus': 108.2,
           'Earth': 149.597870,
           'Mars': 227.94
}
for i, key in enumerate(planets.keys(), 1):
    print("{:2d} {:<10s} {:06.2f} Gm".format(i, key, planets[key]))

 1 Mercury    057.91 Gm
 2 Venus      108.20 Gm
 3 Earth      149.60 Gm
 4 Mars       227.94 Gm

In [22]:
text = 'hello'
print(text.capitalize())
print(text.upper())
print('<'+text.center(12)+'>')
print('<'+text.ljust(12)+'>')
print('<'+text.rjust(12)+'>')
print('<'+text.zfill(12)+'>')

Hello
HELLO
<   hello    >
<hello       >
<       hello>
<0000000hello>

In [23]:
names = ['Tom', 'Harry', 'Jane', 'Mary']
print(f"The third member is {names[3]}")

The third member is Mary

In [26]:
names = ['Tom', 'Harry', 'Jane', 'Mary']
suffix = ['st', 'nd', 'rd', 'th']
n=1
s = f"{str(n+1) + suffix[n]} of {len(names)} is {names[n]}"
print(s)

2nd of 4 is Harry

In [27]:
#       01234567890123456789012345678901234
text = "Remarkable bird, the Norwegian Blue"
print(text[11:14])
print(text[-7:-1])

bir
an Blu

In [31]:
#! /usr/bin/python

greek = ['Alpha', 'Beta', 'Gamma', 'Delta', 'Epsilon', 'Zeta',
 	    'Eta', 'Theta', 'Iota', 'Kappa', 'Lambda', 'Mu',
        'Nu', 'Xi', 'Omicron', 'Pi', 'Rho', 'Sigma final',
        'Sigma', 'Tau', 'Upsilon', 'Phi', 'Chi', 'Psi', 'Omega'
        ]

# Format required:
#    The hex value of the character.
#    The character name (cname), left justified,
#    maximum 12 characters.
#    A colon separator.

0x3b1 Alpha       : α Α
0x3b2 Beta        : β Β
0x3b3 Gamma       : γ Γ
0x3b4 Delta       : δ Δ
0x3b5 Epsilon     : ε Ε
0x3b6 Zeta        : ζ Ζ
0x3b7 Eta         : η Η
0x3b8 Theta       : θ Θ
0x3b9 Iota        : ι Ι
0x3ba Kappa       : κ Κ
0x3bb Lambda      : λ Λ
0x3bc Mu          : μ Μ
0x3bd Nu          : ν Ν
0x3be Xi          : ξ Ξ
0x3bf Omicron     : ο Ο
0x3c0 Pi          : π Π
0x3c1 Rho         : ρ Ρ
0x3c2 Sigma final : ς Σ
0x3c3 Sigma       : σ Σ
0x3c4 Tau         : τ Τ
0x3c5 Upsilon     : υ Υ
0x3c6 Phi         : φ Φ
0x3c7 Chi         : χ Χ
0x3c8 Psi         : ψ Ψ
0x3c9 Omega       : ω Ω